<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Administración
      <small> de proyectos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-edit"></i> Administración</a></li>
      <li class="active">Proyectos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-primary table-responsive">
      <div class="overlay" ng-show="overlay">
          <i class="fa fa-refresh fa-spin"></i>
      </div>
      <table class="table table-bordered table-condensed">
  			<thead>
        <tr>
    			<th colspan="12"><input ng-model="searchText" class="form-control" placeholder="Ingrese filtro ..." type="text"/></th>
    		</tr>
  			<tr>
  				<th class="text-center visible-lg visible-md"></th>
          <th >Código</th>
  				<th >Nombre</th>
  				<th class="text-center visible-lg visible-md">Estado</th>
          <th class="visible-lg visible-md">Tipo</th>
          <th class="visible-lg visible-md">Componente</th>
          <th class="visible-lg visible-md text-center" >Nro. Equipos</th>
          <th class="visible-lg visible-md text-center" >Nro. Tareas</th>
          <th colspan="1" class="text-center">
            <button type="button" ng-click="create()" class="btn btn-sm btn-primary btn-flat" uib-tooltip="Crear proyecto nuevo">
              <i class="fa fa-plus"></i>
            </button>
            <!--<button type="button" ng-click="viewList = !viewList" ng-show="viewList" class="btn btn-sm btn-default btn-flat" uib-tooltip="Ver lista">
              <i class="fa fa-th-list"></i>
            </button>
            <button type="button" ng-click="viewList = !viewList" ng-hide="viewList" class="btn btn-sm btn-default btn-flat" uib-tooltip="Ver tarjetas">
              <i class="fa fa-th"></i>
            </button>-->
          </th>
  			</tr>

  			</thead>
  			<tbody>
  			<tr ng-repeat="row in  rowCollection | filter:searchText">
  				<td class="text-center visible-lg visible-md">
            <div class="image">
              <a ng-click="edit(row.prjid)" href=""><img ng-src="{{row.avatar.url}}" class="img-thumbnail" style=" width: 50px;height: 50px;"></a>
            </div>
          </td>
  				<td><a ng-click="edit(row.prjid)" href="">{{row.prjid}}</a></td>
          <td>{{row.name}}</td>
  				<td class="text-center visible-lg visible-md">
            <span class="label {{row.style}}">{{row.status}}</span>
          </td>
          <td class="visible-lg visible-md">{{row.type}}</td>
  				<td class="visible-lg visible-md">{{row.compo}}</td>
          <td class="text-center visible-lg visible-md">
            <a ng-href="#/teams-list/{{row.prjid}}" uib-tooltip="Ver equipos del proyecto">
              <span class="badge bg-light-blue">
                  {{row.teams}}
              </span>
            </a>
          </td>
          <td class="text-center visible-lg visible-md">
            <a ng-href="#/task-list/{{row.prjid}}" uib-tooltip="Ver tareas del proyecto">
              <span class="badge bg-light-blue">
                  {{row.task}}
              </span>
            </a>
          </td>
  				<td class="text-center">
  				  <button type="button" ng-click="delete(row.prjid, $index)" class="btn btn-sm btn-danger btn-flat" uib-tooltip="Eliminar proyecto">
  					  <i class="fa fa-times"></i>
  				  </button>
            <a type="button" ng-href="#/teams-list/{{row.prjid}}" class="btn btn-sm btn-default btn-flat" uib-tooltip="Ver equipos">
  					  <i class="fa fa-users"></i>
  				  </a>
            <a type="button" ng-href="#/tasks-list/{{row.prjid}}" class="btn btn-sm btn-default btn-flat" uib-tooltip="Ver lista de tareas">
  					  <i class="fa fa-flag"></i>
  				  </a>

  				</td>
  			</tr>
  			</tbody>
  		</table>

      <div class="overlay" ng-show="overlay">
          <i class="fa fa-refresh fa-spin"></i>
      </div>

    </div>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
