<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Edición
      <small> de proyecto</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-edit"></i> Administración</a></li>
      <li><a href="#/project-list">Proyectos</a></li>
      <li class="active">Edición</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <form ng-submit="save()">
          <div class="box box-primary">
              <br>
              <div class="box-header with-border">
                Información general
                <div class="pull-right">
                  <a type="button" href="#/project-list/" class="btn btn-danger "><i class="fa fa-times"></i></a>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
                </div>
              </div>
              <div class="box-body">
                  <div class="avatar form-group col-md-12 text-center">
                    <div class="picture avatar-md text-center">
                      <img  ng-src="{{data.attributes.avatar}}" id="avatar" class="picture-src"/>
                      <input class="input-img" type="file" onchange="angular.element(this).scope().getAvatar(this)" accept="image/*">
                    </div>
                    <h6>Imagen del proyecto</h6>
                  </div>
                <div class="form-group col-md-6">
                  <label>Código</label>
                  <input type="text" ng-model="data.attributes.prjid" class="form-control"placeholder="Ingrese el WI del proyecto" required readonly>
                </div>
                <div class="form-group col-md-6">
                  <label>Nombre del proyecto</label>
                  <input type="text"ng-model="data.attributes.name" class="form-control"placeholder="Ingrese el nombre del proyecto" required>
                </div>
                <div class="form-group col-md-12">
                  <label>Descripción</label>
                  <textarea type="text" ng-model="data.attributes.desc" rows="4" class="form-control" placeholder="Ingrese la descripción del proyecto" required></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label>Tipo de proyecto</label>
                  <select class="form-control" ng-model="data.attributes.type">
                    <option value="">---</option>
                    <option ng-repeat="type in types" value="{{type.value}}">{{type.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Estado</label>
                  <select class="form-control" ng-model="data.attributes.status">
                    <option value="">---</option>
                    <option ng-repeat="statu in status" value="{{statu.value}}">{{statu.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Componente</label>
                  <select class="form-control" ng-model="data.attributes.compo">
                    <option value="">---</option>
                    <option ng-repeat="component in components" value="{{component.value}}">{{component.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Moneda</label>
                  <select class="form-control" ng-model="data.attributes.current">
                    <option value="">---</option>
                    <option ng-repeat="curr in currency" value="{{curr.value}}">{{curr.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha de inicio</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" ng-model="data.attributes.init" class="form-control dateinput" placeholder="Ingrese la fecha de inicio del proyecto" required>
                  </div><!-- /.input group -->
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha de finalización</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" ng-model="data.attributes.end" class="form-control dateinput" placeholder="Ingrese la fecha de finalización del proyecto" required>
                  </div><!-- /.input group -->
                </div>
                <div class="form-group col-md-6">
                  <label>Ubicación</label>
                  <input type="text"ng-model="data.attributes.locale" class="form-control"placeholder="Ingrese la ubicación del proyecto" required>
                </div>
              </div>
          </div>

    </form>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
