<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Administración
      <small> de equipos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-edit"></i> Administración</a></li>
      <li class="active">Equipos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-primary">
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-bordered" cellspacing="0" width="100%">
  			<thead>
        <tr>
    			<th colspan="3"><input ng-model="searchText" class="form-control" placeholder="Ingrese filtro ..." type="text"/></th>
          <th colspan="3"></th>
          <th colspan="1" class="text-center">
            <button type="button" ng-click="create()" class="btn btn-sm btn-primary btn-flat" uib-tooltip="Crear equipo de proyecto">
              <i class="fa fa-plus"></i>
            </button>
          </th>
    		</tr>
  			<tr>
  				<th></th>
          <th >Nombre</th>
  				<th >Descripción</th>
  				<th >Miembros</th>
          <th >Tareas</th>
          <th></th>
  			</tr>

  			</thead>
  			<tbody>
  			<tr ng-repeat="row in  rowCollection | filter:searchText">
  				<td class="text-center">
            <div class="image">
              <a ng-click="edit(row.teamid)" href=""><img ng-src="{{row.avatar}}" class="img-circle" alt="User Image" style=" width: 50px;height: 50px;"></a>
            </div>
          </td>
  				<td><a ng-click="edit(row.teamid)" href="">{{row.name}}</a></td>
  				<td>{{row.desc}}</td>
          <td>{{row.members}}</td>
  				<td>{{row.tasks}}</td>
  				<td class="text-center">
  				  <button type="button" ng-click="delete(row.prjid, $index)" class="btn btn-sm btn-danger btn-flat" uib-tooltip="Eliminar proyecto">
  					  <i class="fa fa-times"></i>
  				  </button>
            <a type="button" ng-href="#/tasks-list/{{row.prjid}}" class="btn btn-sm btn-default btn-flat" uib-uib-tooltip="Ver lista de tareas">
  					  <i class="fa fa-th-list"></i>
  				  </a>

  				</td>
  			</tr>
  			</tbody>
  		</table>

      <div class="overlay" ng-show="overlay">
          <i class="fa fa-refresh fa-spin"></i>
      </div>

    </div>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
