<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Edición
      <small> equipo de proyecto</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-edit"></i> Administración</a></li>
      <li><a href="#/project-list">Proyectos</a></li>
      <li><a ng-href="#/teams-list/{{proj_id}}">Equipos</a></li>
      <li class="active">Edición</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <form ng-submit="save()">
          <div class="box box-primary">
            <div class="overlay" ng-show="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
              <br>
              <div class="box-header with-border">
                Información general
                <div class="pull-right">
                  <a type="button" ng-href="#/teams-list/{{proj_id}}" class="btn btn-danger btn-flat btn-sm "><i class="fa fa-times"></i></a>
                  <button type="submit" class="btn btn-primary btn-flat btn-sm"><i class="fa fa-floppy-o"></i></button>
                </div>
              </div>
              <div class="box-body">
                  <div class="avatar form-group col-md-12 text-center">
                    <div class="picture avatar-md text-center">
                      <img id="avatar" class="picture-src"/>
                      <input class="input-img" type="file" onchange="angular.element(this).scope().getAvatar(this)" accept="image/*">
                    </div>
                    <h6>Imagen del equipo</h6>
                  </div>
                <div class="form-group col-md-6">
                  <label>Código</label>
                  <input type="text" ng-model="data.attributes.prjid" class="form-control"placeholder="Ingrese el WI del proyecto" required readonly>
                </div>
                <div class="form-group col-md-6">
                  <label>Nombre del equipo</label>
                  <input type="text"ng-model="data.attributes.name" class="form-control"placeholder="Ingrese el nombre del proyecto" required>
                </div>
                <div class="form-group col-md-12">
                  <label>Descripción</label>
                  <textarea type="text" ng-model="data.attributes.desc" rows="4" class="form-control" placeholder="Ingrese la descripción del proyecto"></textarea>
                </div>
          </div>
    </form>
  </section><!-- /.content -->
  <!-- Main content -->
  <section class="content" ng-controller="MembersListCtrl">
    <div class="box box-primary">
      <div class="overlay" ng-show="overlay">
          <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="box-header with-border">
        <h4>Miembros del equipo</h4>
      </div>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>
              <div class="col-lg-12">
                <div class="input-group">
                  <input ng-model="searchText" class="form-control" placeholder="Ingrese filtro ..." type="text">
                  <span class="input-group-btn">
                    <button ng-click="addMembers()" class="btn btn-sm btn-primary btn-flat" type="button" uib-tooltip="Agregar miembros">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button ng-click="loadMembers()" class="btn btn-sm btn-success btn-flat" type="button" uib-tooltip="Agregar miembros">
                        <i class="fa fa-refresh"></i>
                    </button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->

            </th>
          </tr>
        </thead>
      </table>

     <div class="row">

       <div class="col-xs-12 col-md-4 col-lg-3" ng-repeat="row in  rowCollection | filter: searchText">
         <div class="card-container"  >
            <div class="card">
                <div class="front">
                    <div class="cover">
                      <i ng-show="{{row.leader}}" class="fa fa-star pull-right icon-card"></i>
                        <!--<img src="vendors/cards/images/rotating_card_thumb.png"/>-->
                    </div>
                    <div class="user">
                        <img class="img-circle" ng-src="{{row.avatar}}"/>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h4 class="name"><b>{{row.name}}</b></h4>
                            <p class="profession">{{row.lastname}}</p>
                        </div>
                    </div>
                </div> <!-- end front panel -->
                <div class="back">
                    <div class="content">
                        <div class="main">
                            <p class="text-center"><b>Correo</b></span>
                            <h4 class="text-center">{{row.email}}</h4>
                            <p class="text-center"><b>Teléfono</b></span>
                            <p class="text-center">{{row.phoneperson}}</p>
                            <p class="text-center"><b>Skype</b></span>
                            <h4 class="text-center">{{row.skype}}</h4>
                        </div>
                        <div class="footer">
                          <button type="button" ng-click="removeMembers(row.username)" class="btn btn-flat btn-sm btn-danger" uib-tooltip="Eliminar miembro">
                              <i class="fa fa-times"></i>
                          </button>
                          <button type="button" class="btn btn-flat btn-sm btn-default" uib-tooltip="Ver tareas">
                              <i class="fa fa-flag"></i>
                          </button>
                          <button ng-hide="{{row.leader}}" ng-click="setLeader(row.username,row.leader)" type="button" class="btn btn-flat btn-sm btn-default" uib-tooltip="Marcar como lider">
                              <i class="fa fa-star"></i>
                          </button>
                          <button ng-show="{{row.leader}}" ng-click="setLeader(row.username,row.leader)" type="button" class="btn btn-flat btn-sm btn-default" uib-tooltip="Desmarcar como lider">
                              <i class="fa fa-star-o"></i>
                          </button>
                        </div>
                    </div>
                </div> <!-- end back panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->

       </div>
     </div>

    </div>

  </section><!-- /.content -->

</div><!-- /.content-wrapper -->
