<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header text-center" style="color: white;font-size: 14px;">Opciones</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">
        <a href=""><i class="fa fa-edit"></i> <span>Administración</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#/user-list" ><i class="fa fa-circle-o"></i>Usuarios</a></li>
          <li><a href="#/project-list"><i class="fa fa-circle-o"></i>Proyecto</a></li>
          <li><a href="#/project-list"><i class="fa fa-circle-o"></i>Equipos</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href=""><i class="fa fa-dashboard"></i> <span>Cuadro de control</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i>Mis proyectos</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Mis equipos</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Mis mensajes</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Mis notificaciones</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Mis tareas</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href=""><i class="fa fa-clock-o"></i> <span>Registro de tiempos</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i>Horas semanales</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Horas faltantes</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Horas mensuales</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Detalle de actividades</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Detalle de horas</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href=""><i class="fa fa-line-chart"></i> <span>Reportes</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i>Cumplimiento</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Desempeño</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Costos</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Facturación</a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
