<div class="dialog-contents">
  <form>
      <br>
      <div class="box box-primary">
          <div class="box-header with-border">
            Nuevo equipo
          </div>
          <div class="box-body">
            <div class="form-group col-md-12">
              <label>Proyecto</label>
              <input type="text" ng-model="data.proj" class="form-control col-sm-1" readonly>
            </div>
            <div class="form-group col-md-12">
              <label>Nombre del Equipo</label>
              <input type="text"ng-model="data.name" class="form-control"placeholder="Ingrese el nombre del equipo" required>
            </div>
            <div class="form-group col-md-12">
              <label>Descripción del Equipo</label>
              <textarea type="text"ng-model="data.desc" class="form-control"placeholder="Ingrese una descripción del equipo"></textarea>
            </div>
          </div>
          <div class="overlay" ng-show="overlay">
              <i class="fa fa-refresh fa-spin"></i>
          </div>
          <div class="box-footer">
              <button class="pull-right btn btn-danger btn-flat btn-sm" ng-click="closeThisDialog()" style="margin-left: 2px;">Cancelar</button>
              <button type="button" ng-click="save() && confirm()" class="pull-right btn btn-primary btn-flat btn-sm">Crear</button>
          </div>
    </div>
  </form>
</div>
